.fuente{
    color:black !important;
    font-size: 20px !important;
}
.buscador{
    height: 20%;
}
.checkColor{
background-color: rgb(247, 7, 7)!important;
}
.divNav{
    height: 10%;
    padding-right: 3%;
}
.h1Nav{
    padding-left: 3%;
}
.iconEdit{
    height: 23px;
}